
.container{
    background-color:#d9dbdc;
}

.search_bar{
    margin-top:20px;
    margin-bottom:30px;
}

li:hover{
    background-color:lightsteelblue;
}

.title_list_item{
    padding-top:20px;
    text-align:center;
}